<div>
    <h1>{{company.name}}'s Snowboards</h1>

    <div>
        <a href="/companies/{{company._id}}/snowboards/new">Create a New Snowboard</a>
    </div>

    <div>
        <a href="/companies">Back to Companies</a>
    </div>
    
    {{#each company.snowboards}}
        <div>
            {{this.name}} - {{this.price}}
            <a href="/companies/{{../company._id}}/snowboards/{{this._id}}">View</a>
        </div>
    {{/each}}
</div>