<div>
    {{snowboard.name}} - {{snowboard.price}}
    <a href="/companies/{{companyId}}/snowboards/{{snowboard._id}}/edit">Edit</a>
    <a href="/companies/{{companyId}}/snowboards/{{snowboard._id}}/delete">Delete</a>
</div>